body{
  text-align: center;
  
}
 main{
  width: 100%;
  height: 100%;
 }

ol, ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;

}

p,h2{
  text-align: center;
  font-weight: 600;
  

}

span{
  font-weight: 400;
}

header{
  
  height: auto;
  justify-content: center;
  background-color: beige;  
 
}

.title{
  filter: saturate(100%) contrast(100%) drop-shadow(8px 10px 12px);
}
.links{
  display: flex;
  justify-content: space-evenly;
  
}

.img-link{
  color: black;
  height: 40%;
  width: 50%;
  filter: saturate(100%) contrast(100%) drop-shadow(4px 3px 5px);
}

.img-link:hover{
  color:goldenrod;
  transform: scale(1.05);
  
}