body{
  text-align: center;
  
}

ol, ul{
  list-style: none;
  display: flex;
  justify-content: space-around;

}

p,h2{
  text-align: center;
  font-weight: 700;

}

span{
  font-weight: 500;
}

header{
  height: 150px;
  background-color: beige;
 
}

h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5em;
}