.details-page{
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px;
}

.star{
    width: 5%;
    height: 5%;
    filter: saturate(100%) contrast(100%) drop-shadow(8px 10px 12px);
}

h3{
    font-size: 2rem;
}
.details-title{
    filter: saturate(100%) contrast(100%) drop-shadow(8px 10px 12px);
}